/build/
/sn.mini.java.jdbc/build
/sn.mini.java.jdbc/target
/sn.mini.java.test/out
/sn.mini.java.util/out
/sn.mini.java.web/out
/com.mini.util/target
/com-mini-mvc-test/target
/com-mini-mvc/target
/com-mini-code/target
/com-mini-core/target
/com-mini-code/src/main/java/com/mini/code/*.java
