<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.core.test.mapper.UserInfoMapper">

    <!-- 基础Map映射 -->
    <resultMap id="BaseResultMap" type="com.mini.core.test.domain.UserInfo">
            <id property="id" column="user_id" jdbcType="BIGINT"/>
            <result property="name" column="user_name" jdbcType="VARCHAR"/>
            <result property="fullName" column="user_full_name" jdbcType="VARCHAR"/>
            <result property="email" column="user_email" jdbcType="VARCHAR"/>
            <result property="age" column="user_age" jdbcType="INTEGER"/>
            <result property="gender" column="user_gender" jdbcType="TINYINT"/>
            <result property="regionId" column="user_region_id" jdbcType="BIGINT"/>
            <result property="createTime" column="user_create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础查询字段 -->
    <sql id="Base_Column_List">
        user_id,user_name,user_full_name,
        user_email,user_age,user_gender,
        user_region_id,user_create_time
    </sql>
    <select id="findByAgeLessThanEqual" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where
        user_age &lt;= #{age,jdbcType=NUMERIC}
    </select>


</mapper>
