<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.test.mybatis.mapper.RoleInfoMapper">

    <!-- 基础Map映射 -->
    <resultMap id="BaseResultMap" type="com.mini.test.mybatis.domain.RoleInfo">
            <id property="id" column="role_id" jdbcType="BIGINT"/>
            <result property="name" column="role_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基础查询字段 -->
    <sql id="Base_Column_List">
        role_id,role_name
    </sql>


</mapper>
